* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color:  #e3f0ff;
    min-height: 100vh;
}
.cabecalho{
    display:flex;
    justify-content:space-between;
    align-items: center;
    height: 100px;
   
}
.divMenu{
    cursor: pointer;
    display: none;
}

.divLogo a {
  justify-content: center;
    font-size:40px;
    font-weight: bold;
    color: #5654b3;
    text-decoration: none
}

.ul{
    display: flex;
    list-style: none;
    align-items: center;
}

.ul li{
    padding: 0 15px;

}

.ul li a {
    text-decoration: none;
    font-size: 17px;
    text-transform: uppercase;
    color: #5654b3;
}

.ul li a:hover{
    color:rgb(5, 1, 8);
    }


    .container{
        max-width: 1300px;
        margin: 0 auto;
        padding: 0 4%;
    }
    
   

.conteudo p{
    font: bolder, 'Arial';
    font-size: medium;
    color: black;
    box-align:center;
   
   
}


@media (max-width:970px) {
    
    .divMenu{
        display: block;
    }

    .ul{
    position: fixed;
    width: 60%;
    height: 100%;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transition: 0.3s ease-in;
    background-color: #5654b3;
    }

    .ul.active{
        transform: translateX(0);
    }
    
    .ul li {
        padding: 10px;

    }

    .ul li a {
        font-size: 18px;
        color: white;

    }

    .conteudo p{
        width: 100%;
        text-align: center;
        margin-bottom: 40px;
        justify-content: center;
    }
}